<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form name="aaa" onsubmit="sub()">
        <button formType="submit">Submit</button>
    </form>
    <img src="images/index1.png" alt="">
    <%=names[0]%>
        <script>
            function sub() {
                alert(3333);
            }
        </script>
</body>

</html>